 .top_bar{
 	background-color: #4267B2;
 }

.social_icons{
	margin-right: 12px;
}

.contact{
	color: #fff;
}

.my_menu{
	margin-top: 5px;
	font-size: 17px;

}

.my_menu .navbar-default{
	background: none;
	border: none;
}
.my_menu .navbar-nav .active a, .my_menu .navbar-nav .active a:hover{
	background: #4267B2;
	color: white;
}

.my_menu .navbar-nav li a:hover{background: #4267B2; color: white;}

@media (max-width:1200px){
	.my_menu .pull-right{
		float: none !important; }
}

@media(max-width: 1200px){
	.navbar-toggle{
		position: relative;
		bottom: 90px;
	}
}

.search-form{
	/*padding: 15px;*/
	margin-top: 15px;
}




.search{
	padding: 70px;
}